*{
    padding: 0;
    margin: 0;
    list-style: none;
}

.container{
    width: 1920px;
    margin: 0 auto;
}


.wrap{
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
}

.header{
    width: 100%;
    background-color: #eaf0ed;
    padding: 300px 0;
}

.header img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.header .title-sm{
    color:#3d5843;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.footer-list ul{
    display: flex;
}

.footer-list ul a{
    text-decoration: none;
    color:#000;
    margin: 0 10px;
}

.footer-list ul a:hover{
    color:#3d5843;
}